@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  background-color: black;
}

.mainnavbar  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 ;

}
.toggle{
  background-color: #fff;
  font-size: 17px;
}
.leftnavbar {
  flex-grow: 1;
  font-size: 35px;
  color: white;
  margin-left:20px;
}

.navbar-collapse {
  justify-content: flex-end;
}

.rightnavbar{
  font-size: 17px;
  padding: 15px;

}
.hamburger{
  display: none;
  font-size: 24px;
  cursor: pointer;
}

@media only screen and (max-width:960px){
  .hamburger{
    display:block;
  }
  .mainnavbar{
    display:flex;
  }
  .leftnavbar{
    font-size: 25px;
  }
  .rightnavbar{
    display: none;
    flex-direction: column;
    margin-top: 30px;
  }
  .element{
    margin-top: 10px;
  }
  .rightnavbar .open{
    display: flex;
  }

}

.open{
  display: flex;
  /* justify-content: space-between; */
}



.activeLink{
  color: rgb(0, 255, 255);
  font-weight: 600;
}
.Link{
  color: white;
}

.bgimage{
  background-image: url("./assests/bgimage.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  
}
.maindiv{
  display: flex;
  justify-content: center;
}
.resetbutton{
  color: white;
  font-size: 16px;
  background-color:  rgb(33, 37, 41);
  padding: 6px 70px;
  border: 1px solid white;
  border-radius: 6px;
}
.resetbutton:hover{
  background-color: rgb(56, 59, 62);
  transition: 0.9s ease ;
}
.inputandreset{
  margin-top: 40px;
  display: flex;
  flex-direction: column; 
  gap: 10px;
}




.cards{
  
  height: 690px;
  text-align: center;
  border-radius: 10px;
  color: white;
  border: 2px solid white;
  background-color: rgb(33, 37, 41);
  line-height: 43px;
}
.button:hover{
  color: rgb(104, 228, 104);
  transform: scale(1.2);
  transition: 0.3s ease-out;
  display: inline-flex;
}





.modalimg{
  background-position: center;
  border: 1px solid blue;
  border-radius: 10px;
  object-fit: cover;
}


.modalp{
  color: rgb(33, 121, 252);
  line-height: 35px;
  font-size: 18px;
}
.modalclosebutton{
  background-color: rgb(219, 53, 69);
  padding: 7px 50px;
}
.modalclosebutton:hover{
  background-color: rgb(162, 37, 49);
  transition: 0.2s ease-in;
}


.maindetails{
  display: flex;
  color: #fff;
}
.bgimage2{
  background-image: url("./assests/bgimage.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 88vh;
}
.detailimg{
  width: 82%;
  height: 88vh;
  object-fit: cover;
  background-position: center;
}
.detaildata{
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 45px;
  font-size: 22px;
  padding: 70px;
}

@media only screen and (max-width:960px){
  .maindetails{
    display: flex;
    flex-direction: column;
  }
  .detailimg{
    width: 100%;
  }

}


.yearnavbar{
  background-color: rgb(33, 37, 41);
  color: white;
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding: 15px 0px;
  border-radius: 10px;
  width: 97%;
  margin:23px auto;
}
.yearnavbar2{
  background-color: rgb(33, 37, 41);
  color: white;
  display: flex;
  justify-content: center;
  font-size: 27px;
  border-radius: 7px;
  width: 97%;
  margin:23px auto;
}

.cards2{
  height: 660px;
  text-align: center;
  border-radius: 10px;
  color: white;
  border: 2px solid white;
  background-color: rgb(33, 37, 41);
  line-height: 43px;
}